---
---

@use "colors" as *;
@use "pico" with (
    $theme-color: "pink",
    $breakpoints: (

        // Small (landscape phones)
        // Font size: 17px
        sm: (
            breakpoint: 576px,
            viewport: 510px,
            root-font-size: 103%,
        ),

        // Medium (tablets)
        // Font size: 18px
        md: (
            breakpoint: 748px,
            viewport: 680px,
            root-font-size: 106%,
        ),

        // Large
        // Font size: 19px
        lg: (
            breakpoint: 880px,
            viewport: 820px,
            root-font-size: 111%,
        ),

        // Extra large
        // Font size: 20px
        xl: (
            breakpoint: 1100px,
            viewport: 900px,
            root-font-size: 116%,
        ),

        // Extra extra large
        // Font size: 21px
        xxl: (
            breakpoint: 1136px,
            viewport: 1040px,
            root-font-size: 120%,
        )
    )
);

// ROOT
:root, :host {
    --pico-font-family-sans-serif: 'Trebuchet MS', system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif, var(--pico-font-family-emoji);
    --pico-line-height: 1.35;
}



// TYPOGRAPHY

h1, h2, h3 {
    text-transform: uppercase;
}

h1 {
    text-align: center;
}

footer {
    h6 {
        margin: 1rem auto;
        text-align: center;
    }
}

a {
    text-decoration: none;
    img {
        transition: transform 0.25s ease;
        &:hover {
            transform: scale(1.05);
        }
    }
}



// LAYOUT and colours
html {
    min-height: 100%;
    background: $slate-950;
}

#home {
    min-height: 100vh;
    height: auto;
    display: grid;
    place-items: center;
}

#home-logo {
    display: block;
    margin: auto;
    max-width: 440px;
    img {
        display: block;
        margin: 0 auto;
    }
}

#main-nav {
    border-bottom: 1px solid var(--pico-secondary);
    ul {
        margin: 0 auto;
        padding: 0;
    }

    li {
        font-size: 85%;
        text-transform: uppercase;
        font-weight: bold;
    }

    a {
        color: var(--pico-secondary);
        letter-spacing: 1px;
        text-decoration: none;
            transition: 0.3s ease;
            transition-property: color, transform;

        &:hover {
            color: var(--pico-color);
            transform: translateY(-2px);
            transition: 0.3s ease;
            transition-property: color, transform;
        }

        &.active {
            color: var(--pico-contrast);

            &:hover {
                color: var(--pico-color);
            }
        }
    }
}

.pagination nav ul {
    margin: 0 auto
}
main {
    background-color: var(--pico-background-color);
    .container {
        padding-top: 2rem;
        margin-bottom: 1rem;
        &:last-of-type {
            margin-bottom: 0;
        }
    }
}

hr {
    border: none;
    margin: 2rem auto;
}

.hero-image img {
    display: block;
    max-width: 100%;
    margin: 0 auto 1rem auto;
    width: 100%;
}

p.caption {
    font-size: 90%;
    margin-bottom: 1rem;
    text-align: center;
    font-style: italic;
    color: var(--pico-muted-color);
}


.blog-container {
    h1 {
        text-align: left;
    }
    max-width: 800px;
}

.blog-img {
    margin-bottom: 2rem;
    img {
        display: block;
        margin: 0 auto 2rem;
    }
}

footer {
    nav ul.socials {
        margin: 0 auto;
    }
    svg {
        height: 1rem;
    }
}

// GRID LAYOUTS

.product-grid {
    grid-template-columns: 1fr 1fr;
    a {
        display: block;
        overflow: hidden;
    }
}

.minis-grid {
    grid-template-columns: 1fr;
    margin-bottom: 1rem;
    div {
        display: block;
        overflow: hidden;
    }
}
.col2-grid {
    grid-template-columns: 1fr;
}


@media (min-width: 768px) {
    .footer-grid {
        grid-template-columns: 2fr 1fr;
    }
    .product-grid {
        grid-template-columns: 1fr 1fr;
    }
    .minis-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1080px) {
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .minis-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media (min-width: 1280px) {
    .product-grid {
        grid-template-columns: 1fr 1fr 1fr;
    }
}