---
title: Games
permalink: /games/
layout: nocontainer
---
<main data-theme="light">
    <div class="container">
        <div class="grid game-grid">
            <div class="game-image"><a href="/games/momentum/"><img src="/assets/site_images/momentum-logo.png"></a></div>
            <article>
                <h4><a href="/games/momentum/">Momentum Games</a></h4>
                <p>Momentum is the core system behind all my games, offering a shared ruleset that makes it easy to pick
                    up new games. It features a simple yet dynamic D6 mechanic and a flexible activation system that
                    keeps battles strategic and engaging. Each game built on Momentum adds unique mechanics, factions,
                    and scenarios, but the fundamentals remain the same, learn one, and the rest come naturally.</p>
                <p><a role="button" href="/games/momentum/">New to Momentum games? Start here!</a></p>
            </article>
        </div>
    </div>
    <hr>
    {% for game in site.games %}
    {% if game.draft == false %}
    <div class="container">
        <div class="grid game-grid">
            <div class="game-image"><a href="{{ game.url }}"><img src="{{ game.cover }}"></a></div>
            <article>
                <h4 class="game-title">
                    <a href="{{ game.url }}">
                        {{ game.title }}
                    </a>
                </h4>
                <p>{{ game.excerpt | markdownify }}</p>
                <p><a role="button" href="{{ game.url }}">Play {{ game.title }}</a></p>
            </article>
        </div>
    </div>
    {% endif%}
    {% endfor %}
</main>