<div class="sticky nav-box">
    <aside>
        <nav class="sidebar-nav">
            <ul>
                <li class="title">Explore</li>
                <hr>
                <li><a href="#">Digital PDFs</a></li>
                <li><a href="#">Print Editions</a></li>
                <hr>
                <li><a href="#">Episode Guide</a></li>
                <hr>
                <li><a href="#">STL Miniatures</a></li>
                <li><a href="#">Pre-printed Miniatures</a></li>
            </ul>
        </nav>
    </aside>
    <hr>
    <aside>
        <nav class="sidebar-nav">
            <ul>
                <li class="title">Online Rules</li>
                <hr>
                <li><a href="/hyperspace-frontiers/rules/introduction">Core Rules</a></li>
                <li><a href="/hyperspace-frontiers/crew-guide/01-creating-a-crew">Crew Guide</a></li>
            </ul>
        </nav>
    </aside>
    <hr>
</div>