<div class="container">
  <hr>
  <div class="grid footer-grid">
      <div>
          <h3>About Renegade Minis</h3>
          <p>Renegade Minis is a Scottish based studio creating original tabletop games and awesome
              digital miniatures with character. Inspired by the charm of old-school wargames: bold sculpts, chaotic lore, and
              rules that left plenty of room for imagination.</p>
          <p>We’re combining that love of the old with fresh ideas, new mechanics, and a desire to make something that
              stands on its own. We build games that are fun to play, full of personality, and designed to spark creativity,
              whether you're here to collect minis, write your own stories, or throw yourself into a world of dice,
              rules, and mayhem.</p>
          <p><strong>This is what we love doing, and we’re just getting started.</strong></p>
      </div>
      <div>
        <h3>Find Us Online</h3>
        <p>We spend most of our time working on games and minis, but we like to unwind by chatting minis, painting, hobby stuff and everything nerdy.</p>
        <p><a href="https://mas.to/@pidgeon_pete">Follow us on Mastodon</a></p>
        <p><a href="https://bsky.app/profile/renegademinis.bsky.social">Follow us on BlueSky</a></p>
        <!--<p><a href="http://eepurl.com/jgcIt6">Sign up for our monthly newsletter</a></p>-->
      </div>
  </div>
  <hr>
</div>
<footer data-theme="dark">
  <div class="container">
      <h6>Copyright &copy; 2025 Renegade Minis</h6>
  </div>
</footer>