<div class="container">
  <hr>
  <div class="grid footer-grid">
      <div>
          <h3>About Renegade Minis</h3>
          <p></p>
      </div>
      <div>
        <h3>Say Hello</h3>
        <aside>
          <nav>
            <ul>
              <li><a href="https://dice.camp/@renegademinis">Mastodon</a></li>
              <li><a href="https://bsky.app/profile/renegademinis.bsky.social">Bluesky</a></li>
              <li><a href="https://www.instagram.com/renegademinis3d/">Instagram</a></li>
            </ul>
          </nav>
        </aside>
      </div>
  </div>
  <hr>
</div>
<footer data-theme="dark">
  <div class="container">
      <h6>Copyright &copy; 2025 Renegade Minis</h6>
  </div>
</footer>